
/***************** CARDS **********************/

.card-fluid form .form-header {
    display: flex;
    justify-content: space-between;
    padding-top: 15px;
    margin-bottom: 0;
    padding-bottom: 0;
    
}
.cardlogo-icon {
    padding-top: 10px;
}

.userdashbord-card-dimension {
    max-height: 60%;
    width: 40% !important;
}


.card-fluid {
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    background:#fff;
    box-shadow: 0 0 20px 0 rgba(72, 94, 160, 0.7);
    border-radius: 5px;
}
.card-fluid form {
    display: grid;
    grid-template-columns: 1fr;
    padding: 20px;
}


.card-fluid form input, .card-fluid form button, .card-fluid form textarea, card-fluid select {
    width: 100%;
    padding: 1em;
    
}
.card-fluid form label {
    display: block;
    font-size: 13px;
    padding: 5px 0;
}
.card-fluid form a {
    text-decoration: none;
    color: #485e74;

}
.card-fluid form button {
    font-size: 12px;
}

.card-fluid form .dropdown {
    display: block;
    width: 100%;
    height: 37px;
    cursor: pointer;
}

.userrequests-card {
    width: 50%;
}

.pad30 {
    padding: 30px;
}

.pad20 {
    padding: 20px;
}

.pad10 {
    padding: 10px;
}

.pad5 {
    padding: 5px;
}

.pad10-top {
    padding-top: 10px;
}

.pad20-top {
    padding-top: 20px;
}

.pad30-top {
    padding-top: 30px;
}
      
      .content {
        display: none;
        margin: 1em 0;
      }
      
      .content.active,
      .no-js .content {
        display: block;
      }

.status-quo {
    padding: 5px;
    border-radius: 3px;
    border:1px solid #ced4da;
}
.status-pill-pending {
    background: rgb(97, 169, 202);
    padding: 3px;
    color: white;
    border-radius: 2px;
}
.status-pill-rejected {
    background: red;
    padding: 3px;
    color: white;
    border-radius: 2px;
}

.status-pill-accepted {
    background: green;
    padding: 3px;
    color: white;
    border-radius: 2px;
}
.status-pill-inactive {
    background: #959faa;
    padding: 3px;
    color: white;
    border-radius: 2px;
}
.status-date {
    color: #959faa;
    float: right;
}

.card-h2 {
    text-align: center;
}

ul.pagination {
    /* display: inline-block; */
    display: inline-block; 
    margin: 8px 0;
    overflow: hidden;
    margin-left: 120px;
    cursor: pointer;
     
    
}
.list ul li {
  
  border: 2px solid #28425c;
  font-size: 1rem;
  padding: 0px 8px;
  float: left;
}
.list ul li:hover {
background: #a9b2bb;
}
ul.pagination li:first-child {

    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
ul.pagination li:last-child {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
ul.pagination li.active {
background: #28425c;
color: #fff;
}
/* MEDIA QUERIES */

/* styles will only work if the screen size is bigger than 700px*/
@media(min-width: 700px) {
    
}

/* styles will only work if the screen size is smaller than 567px*/
@media (max-width: 576px) {
    .seperator {
        grid-template-columns: 1fr;
    }
    ul.pagination {
        /* display: inline-block; */
    justify-content: center;        
        
    .userdashbord-card-dimension-react {
        max-height: 60%;
        width: 40% !important;
    }
}
  }
  
  
  @media (min-width: 577px) {
    .userdashbord-card-dimension-react {
        max-height: 60%;
        width: 30% !important;
    }
  }
  
  @media (min-width: 992px) {
    .userdashbord-card-dimension-react {
        max-height: 60%;
        width: 30% !important;
    }
  }
  
  @media (min-width: 1200px) {
    
  }


  /******************
  CSS PRELOADER
  *******************/

//   .loader {
//     border: 16px solid #f3f3f3; /* Light grey */
//     border-top: 16px solid #3498db; /* Blue */
//     border-radius: 50%;
//     width: 20px;
//     height: 20px;
//     animation: spin 2s linear infinite;
//     margin: 40px auto;
//     }
    
    @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
    }

    .f-size15 {
        font-size: 15px;
    }
