/* RUDIMENTS */

/* whenvere there is any width, it factors in the margin and padding into that width
    instead of adding it onto it
    */
    *{
        box-sizing: border-box;
    }
    :root {
        --primaryOrange: rgb(255, 124, 17);
        --backgroundColour:  rgb(193, 205, 214);
        --fontColour:  #485e74;
    }
    #primary-background {
        background: var(--backgroundColour);
    }
    body{
        color: var(--fontColour);
        line-height: 1.6;
        font-family: 'Roboto', sans-serif;
        background:   rgb(244, 246, 248);
    }
    body#dashboard {
        margin: 0;
        padding: 0;
        background:   rgb(244, 246, 248);
    }
    .nobody-margin {
        margin: 0 !important;
    }
    button, .btn {
        background: var(--primaryOrange);
        border: none;
        padding: 8px;
        border-radius: 3px;
        color: #fff;
    }
    .btn {
        text-decoration: none;
    }
    .danger {
        background: #f02d13 !important;
    }
    
    .view-detail {
        background: rgb(158, 160, 161) !important;
    }
    
    ul {
        list-style: none;
        padding: 0;
    }
    
    hr {
        margin-top: 1rem;
        margin-bottom: 1rem;
        border: 0;
        border-top: 1px solid rgba(167, 20, 20, 0.1);  
    }
    .container {
        margin: 0 auto;
    }
    
    form input, form textarea, form select {
    border:1px solid #ced4da;
        border-radius: .25rem;
    }
    form select {
        padding: 10px;
    }
    /* Logo */
    #logo2 {
        color: var(--primaryOrange);
        font-weight: bold;
        font-size: 25px;
    }
    #logo1 {
        font-size: 22px;
    }
    #logo1-index {
        font-size: 21px;
        color: #fff;
        padding-left: 0;
        margin-left: 0;
        font-weight: 800;
        
        
    }
    .index-ul {
        display: inline-block !important;
    }
    
    /* End of logo */
    
    /* Margins */
    .marg-top10y{
        margin-top: 10px;
    }
    
    .marg-top20y{
        margin-top: 20px;
    }
    
    .marg-top30y{
        margin-top: 30px;
    }
    
    .marg-top40y{
        margin-top: 40px;
    }
    
    .marg-top50y{
        margin-top: 50px;
    }
    .marg-top70y{
        margin-top: 70px;
    }
    .marg-top80y{
        margin-top: 80px;
    }
    .marg-top100y{
        margin-top: 100px;
    }
    .marg-bot10y{
        margin-bottom: 10px;
    }
    .display-block-inline {
        display: inline-block;
    }
    
    .marg-bot20y{
        margin-bottom: 20px;
    }
    
    .marg-left30 {
        margin-left: 120px;
    }
    /****************** SIDEBAR  *******************/
    #sidebar .toggle-btn i {
        position: absolute;
        left: 230px;
        top: 20px;
    }
    
    #sidebar {
        width: 200px;
        height: 100%;
        background: var(--fontColour);
        position: fixed;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        transition: all 0.5s ease;
    
    }
    #sidebar ul li {
        border-bottom: 1px solid white;
        padding: 10px;
    }
    
    #sidebar ul li a {
        text-decoration: none;
        color: #fff;
    }
    
    #sidebar.inactive {
        left: -200px;
    }
    
    
    .card-redirect-tag {
        text-decoration: none;
        color: inherit;
    }
    
    /* END OF RUDIMENTS */
    
    /***************** CARDS **********************/
    
    .card form .form-header {
        display: flex;
        justify-content: space-between;
        padding-top: 15px;
        margin-bottom: 0;
        padding-bottom: 0;
        
    }
    .cardlogo-icon {
        padding-top: 10px;
    }
    
    .card {
        max-width: 400px;
        margin-right: auto;
        margin-left: auto;
        background:#fff;
        box-shadow: 0 0 20px 0 rgba(72, 94, 160, 0.7);
        border-radius: 5px;
    }
    .card form {
        display: grid;
        grid-template-columns: 1fr;
        padding: 20px;
    }
    .form-small-text {
        display: block;
        margin-top: 0.25rem;
      }
    
    .card form input, .card form button .card form textarea {
        width: 100%;
        padding: 1em;
        
    }
    .card form label {
        display: block;
        font-size: 13px;
        padding: 5px 0;
    }
    .card form a {
        text-decoration: none;
        color: #485e74;
    
    }
    .card form button {
        font-size: 12px;
        width: 100%;
        padding: 0.8rem;
        cursor: pointer;
    }
    
    
    /******** NAVIGATION BAR ****/
    nav {
        width: 100%;
        background: rgb(6, 70, 129);
        border-bottom: 2px solid var(--primaryOrange);
    }
    
    .navbar-wrapper
    {
        margin: 0 auto
    }
    nav ul {
     width: 100%;
     margin: 0 auto;
     padding: 0;   
    }
    
    nav ul li {
        display: inline-block;
        padding: 15px;    
    }
    nav ul li:hover {
        background: var(--primaryOrange);
        transition: 0.5s;
    }
    nav ul li a {
        color: #fff;
        text-decoration: none;
    }
    
    .nav-toggle {
        width: 100%;
        padding: 10px 20px;
        background: #001f44;
        text-align: right;
        color: #fff;
        font-size: 25px;
        display: none;
    }
    nav .brand {
        float: left;
        padding-top: 5px;
    
    }
    nav .brand #logo1 {
        color: #fff;
    }
    
    .pull-nav-li-right {
        float: right;
    }
    /* Container media Query */
    
    .container {
        width: 100%;
        padding-right: 15px;
        padding-left: 15px;
        margin-right: auto;
        margin-left: auto;
      }
      /* Implement as long as screen is not less than 768px */
      @media (min-width: 776px) {
        .container {
          max-width: 540px;
        }
    
       .container ul#navul li#signout {
            float: right;
        }
      }
     
    /* Implement as long as screen is not less than 768px */
      @media (min-width: 576px) {
         .leave {
            padding-left: 530px;
        }
      }
    
    
      @media (max-width: 576px) {
        .container {
          max-width: 540px;
        }
        .seperator2 {
            display: grid;
            grid-template-columns: 1fr;
        }
        .leave {
            padding: -950px;
        }
    
        .anchorbtn {
            padding: .1em;
            font-size: 10px;
    
          }
      }
    
      
    
      @media (max-width: 606px) {
        .leave {
            padding: -950px;
        }
        
        .anchorbtn {
            padding: .1em;
            font-size: 10px;
    
          }
      }
      
      /* Implement as long as screen is not greater than 768px */
      @media (max-width: 768px) {
        .leave {
            padding: 0px;
        } 
        
        .nav-toggle {
            display: block;
        }
        nav ul {
            width: 100%;
            display: none;
        }
        nav ul li {
            display: block;
            text-align: center;
            border-bottom: 1px solid rgba(30, 60, 90, 0.795)
    
        }
        .active {
            display: block;
        }
    }
      @media (min-width: 768px) {
        .container {
          max-width: 720px;
        }
        
      }
      
      @media (min-width: 992px) {
        .container {
          max-width: 960px;
        }
        .leave {
            padding-left: 850px;
        }
      }
      
      @media (min-width: 1200px) {
        .container {
          max-width: 1140px;
        }
        .leave {
            padding-left: 1000px;
        }
      }
      
    
    .anchorbtn {
            background-color: var(--primaryOrange);
            border-radius: 5px;
            color: #fff;
            padding: .5em;
            text-decoration: none;
            font-size: 12px;
          }
          
          .anchorbtn:focus,
          .anchorbtn:hover {
            background-color: rgb(182, 177, 169);
            color: White;
          }
        
    
    
    
    
    
    .user-area {
        max-width: 70%;
        margin-right: auto;
        margin-left: auto;
        background:#fff;
        box-shadow: 0 0 20px 0 rgba(72, 94, 160, 0.7);
        border-radius: 5px;
    }
    
    /* Dashboard */
    .seperator {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 20px;
    }
    
    .seperator2 {
        display: grid;
        grid-template-columns: 1.1fr 1fr;
        grid-gap: 10px;
    }
    
    @media (max-width: 758px) {
        .seperator2 {
            display: grid;
            grid-template-columns: 1fr;
        }
        .seperator2 .card-fluid {
            margin-bottom: 50px;
        }
        .brand {
            display: none;
        }
      }
    .brand-active {
        display: inline-block;
    }
      
    .status-btn {
        display: grid;
        grid-template-columns: 1fr;
    }
    
    .text-right-side {
        float: right;
    }
    
    .caption {
        max-width: 100%;
        display: inline-block;
        text-align: justify;
    }
    .caption p {
        font-size: 16px;
        color: #fff;
        font-weight: 700;
        border: rgb(209, 202, 202) 3px;
        background: var(--fontColour);
        padding: 10px;
    }
    .caption span {
        color: var(--primaryOrange);
    }
    .caption h1 {
        color: var(--primaryOrange);
        padding-top: 60px;
        padding-bottom: 0;
        margin-bottom: 0; 
        font-size: 40px;
        font-weight: 700;
        
    }
    .caption hr {
        margin-top: 0 !important;
    }
    .caption h2 {
        padding-top: 0;
        margin-top: 0;
        font-weight: bold;
        font-size: 45px;
        line-height: 20px;
        padding-left: 20px;
        
    }
    .display-inline-altered {
        display: inline-block;
    }
    .indexbg {
        background-image: url("../img/bg1.jpg");
    }
    
    /************** FORM INPUT HIGHLIGHT AND PATTERNS **********/
    #form-in  input[type="text"]:focus, input[type="email"]:focus, input[type="password"]:focus, input[type="textarea"]:focus input[type="url"]:focus  {
        border-color: rgb(13, 70, 109) !important;
        -webkit-box-shadow: none;
        box-shadow: 3px 3px rgb(13, 70, 109) !important;;
        color:rgb(13, 70, 109) !important;;
        font-size: 15px;
        
      }
    
      .form-in input[type="text"]:focus, input[type="email"]:focus, input[type="password"]:focus  {
        border-color: rgb(13, 70, 109) !important;
        -webkit-box-shadow: none;
        box-shadow: 3px 3px rgb(13, 70, 109) !important;
        color:rgb(13, 70, 109) !important;;
      }
     
    
     
    
      .form-in label {
        color: rgb(13, 70, 109) !important;
        font-size: 10px;
      }
    button {
        cursor: pointer;
    }
    
    /****************** TABLE ****************************/
    table {
        border: 1px solid #ccc;
        border-collapse: collapse;
        margin: 0;
        padding: 0;
        width: 100%;
        table-layout: fixed;
      }
      
      table caption {
        font-size: 1.5em;
        margin: .5em 0 .75em;
      }
      
      table tr {
        background-color: #f8f8f8;
        border: 1px solid #ddd;
        padding: .35em;
        
      }
      
      table th,
      table td {
        padding: .625em;
        text-align: center;
      }
      
      table th {
        font-size: .85em;
        letter-spacing: .1em;
        text-transform: uppercase;
        background: rgb(6, 70, 129);
      }
      
      @media screen and (max-width: 600px) {
        table {
          border: 0;
        }
      
        table caption {
          font-size: 1.3em;
          background:var(--primaryOrange);
          border: none;
        }
        
        table thead {
          border: none;
          clip: rect(0 0 0 0);
          height: 1px;
          margin: -1px;
          overflow: hidden;
          padding: 0;
          position: absolute;
          width: 1px;
          
        }
        table thead tr th {
          background: var(--fontColour);
          font-size: 25px;
          
        }
        table tr {
          border-bottom: 3px solid #ddd;
          display: block;
          margin-bottom: .625em;
        }
        
        table td {
          border-bottom: 1px solid #ddd;
          display: block;
          font-size: .8em;
          text-align: right;
        }
        
        table td::before {
          /*
          * aria-label has no advantage, it won't be read inside a table
          content: attr(aria-label);
          */
          content: attr(data-label);
          float: left;
          font-weight: bold;
          text-transform: uppercase;
        }
        
        table td:last-child {
          border-bottom: 0;
        }
      }
    
      .table-head {
          color: #fff;
      }
      table tr:nth-child(odd) {
        background-color:  rgb(227, 231, 238);
    }
    
    #big-care {
        font-weight: 400;
    }
    
    #reset-psw {
        padding: 15px 30px;
        margin-bottom: 20px;
        text-align: center;
        font-size: 14px;
    }
    
    .pull-right {
        float: right;
    }
    
    .adminrequestheader {
        
        color:var(--primaryOrange);
    }
    
    #description {
        resize: none;
    }
    .controlerror {
        border: 2px solid rgb(247, 89, 40) !important;
        border-radius: 4px !important;
    }

    .invalidfeedback {
        display: block;
        width: 100%;
        margin-top: 0.25rem;
        font-size: 80%;
        color: #dc3545;
      }

      .inputbordererror {
        border: 2px solid rgb(247, 89, 40) !important;
        border-radius: 4px !important;
        }

        .centerdiv {
            margin: auto;
            margin-top: 250px;
            width: 80%;
            padding: 10px;
            font-size: 20px;
            text-align: center;
            }
        .increasedcard {
            max-width: 600px !important;
        }

        .significantlink {
            color: var(--primaryOrange);
            text-decoration: none;
        }

        .secondarybackground {
            margin: 0;
            padding: 0;
            background:   rgb(244, 246, 248);
        }

        .loader {
            border: 16px solid #f3f3f3; /* Light grey */
            border-top: 16px solid #db7134; /* Blue */
            border-radius: 50%;
            width: 50px;
            height: 50px;
            animation: spin 2s linear infinite;
            margin: 40px auto;
            }
        
            .loader2 {
                border: 16px solid #f3f3f3; /* Light grey */
                border-top: 16px solid #db7134; /* Blue */
                border-radius: 50%;
                width: 30px;
                height: 30px;
                animation: spin 2s linear infinite;
                margin: 5px auto;
                }
        
        .displayerror {
            width: 200px;
            height: 50px;
            margin: 40px auto;
            font-size: 20px;
        }
